@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html, body, #root {
  height: 100%;
}

body {
  overscroll-behavior: none;
  background: transparent;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: color-mix(in oklab, var(--color-base-content) 20%, transparent);
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
